header {
  text-align: center;
}

p.description {
  /* Temp solution for multiline: https://stackoverflow.com/a/33052216/3796488 */
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
}

img.image {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 300px;
  object-fit: cover;
}

img[src=""] {
  display: none;
}
